*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow-x: hidden;
}

html, body, #root {
  min-height: 100dvh;
}

body {
  background: #010206;
  color: #ccc;
  overflow-x: hidden;
}

button {
  font-family: inherit;
}
